.racer_table td {
  height: 60px;
  width: 60px;
  border: rgba(150,150,150,0.2) 1px solid;
  opacity: 0.3px;
  margin: none;
}
.racer_table td {
  background-repeat: no-repeat;
  background-size: 100%;
}
.racer_table td.finish {
	background-image: url("images/finish.png");
	opacity: 0.4;
}
#player1_race td.active {
  background-image: url("images/player1.jpg");
}
#player2_race td.active {
  background-image: url("images/player2.jpg");
}

.timer {
  text-align: center;
  font-size: 23vh;
  flex-grow: 1;
}

.message-to-players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 50px;
}

.message-to-players img {
  height: 75vh;
}

.commands {
  text-align: center;
  font-size: 5vh;
  position: absolute;
  top: 420px;
}

.container {
  position: relative;
}